/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
  margin-top:45px;
}
/*--------------------------------------------------------------------------
  Navbar Style
--------------------------------------------------------------------------*/
.navbar {
  border-bottom-left-radius:0; /*Change bootstrap default border-radius for menu*/
}
@media(min-width:768px) {
  .navbar .navbar-brand {
    width:224px; /*Change the width of .navbar-brand to center text and align with .sider-navbar border-right*/
    text-align: center;
  }
}
/*--------------------------------------------------------------------------
  Side Navigation
--------------------------------------------------------------------------*/
@media(min-width:768px) {
    .sider-navbar {
        position: fixed;
        top: 51px; /*Change to reposition .sider-navbar from top*/
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border-right:1px solid #E7E7E7; /*Change for right side border color*/
        border-radius: 0;
        overflow-y: auto;
        background: #F8F8F8; /*Change for background color*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    
    .sider-navbar li.sider-menu {
      
    }
    .sider-navbar li.sider-menu ul {
        width: 225px;
    }
    .sider-navbar li.sider-menu > ul > li,
    .sider-navbar li.sider-menu ul li ul li{
      border-top:1px solid #E7E7E7;/*Change for .sider-menu border color*/
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
    }
    .sider-navbar li.sider-menu > ul > li:last-child {
      border-bottom:1px solid #E7E7E7;/*Change for .sider-menu border color*/
    }
    .sider-navbar li.sider-menu > ul > li.active,
    .sider-navbar li.sider-menu > ul > li:hover,
    .sider-navbar li.sider-menu ul li ul li:hover{
      border-right:6px solid #FAA21B;
    }
    .sider-navbar li.sider-menu ul li ul li:hover{
      background:#FFFFFF;/*Change for .sider-menu border color*/
    }
    .sider-navbar li.sider-menu ul li a {
      outline: none;
      padding:15px;
    }
    
}
.sider-navbar li.sider-menu ul {
  list-style:none;
  padding: 0;
}

.sider-navbar li.sider-menu ul li a {
    display: block;
    padding:15px;
    text-decoration: none;
    color:#5E5E5E;/*Change for .sider-menu color*/
}
.sider-navbar li.sider-menu ul li ul {
  background-color:#f3f3f3;/*Change for .sider-menu background-color*/
}
/*--------------------------------------------------------------------------
  Profile container
  Thanks to keenthemes' bootstrap snippet for a starting point for the styles
  http://bootsnipp.com/snippets/featured/user-profile-sidebar 
--------------------------------------------------------------------------*/
#profile {
  
}
.profile-userpic img {
  float: none;
  margin: 12px auto 0;
  padding:6px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-left: 4px solid #333333;
  border-right: 4px solid #333333;
}

.profile-usertitle {
  text-align: center;
  margin-top: 16px;
  color: #333333;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
/*Hide profile picture on smaller devices*/
@media(max-width:768px) {
  #profile {
    display:none;
  }
}
/*--------------------------------------------------------------------------
  Page Keeper
  Setup layout so the main content will be to the right of .sider-navbar
--------------------------------------------------------------------------*/
@media(min-width:768px) {
    #page-keeper {
      width: 100%;
      padding: 10px 10px 10px 225px;
    }
}