body{font-family: century gothic; font-size: 10pt;}
.sidebar-image img
{
    width: 96px;
    height: 96px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.sidebar-image img
{
    margin: 0 auto 10px;
    padding: 10px;
    display: block;
}
.sidebar-header{
	display: block;
	margin-bottom: 96px;
}
.sidebar-nav{
	display: block;
}

table{
    font-size: 11px;
}
.panel-title a{
    font-size: 14px;    
}

#contentpage{padding:10px;}

/* Portlets */
.portlet{
    border:solid 1px #eee;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 12px 0px #656565;
    -webkit-box-shadow: 2px 2px 12px 0px #656565;
    -o-box-shadow: 2px 2px 12px 0px #656565;
    box-shadow: 2px 2px 12px 0px #656565;

}
.portlet-title{
    background-color: #f8f8f8;
    padding: 10px;
}
.portlet-content{
    padding:10px;
}

/* To do list */
.tdl{
    border-bottom: 1px solid #eee;
    padding: 2px;
}
.tdl-title{
    font-weight: bold;
}
.tdl-mess{
    font-style: italic;
}
.tdl-date{
    color: #c8c8c8;
}

/* Filtre */
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.progress-bar-orange {
      background-color: #faa21b !important;
}

/* Checkbox */
.form input[type="checkbox"]{
  display:none;  
}
.form input[type="checkbox"] + label.fa {
    color: #000000;
    font-size: 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    line-height: 40px;
}
.form input[type="checkbox"]:checked +label.fa{
    background: #fff;
}
.form input[type="checkbox"] + label.fa:before {
     display:inline-block;
     content: "\f096";
     cursor:pointer;
}

.form input[type="checkbox"]:checked +label.fa:before{
    content:"\f046";
    position: relative;
    left: 2px;
}

/* step */
@media only screen and (min-width : 480px) {
    .step{
        border:1px solid;
        border-radius:4px;
        padding:5px;
        margin:0px;
        width:100%;
    }
}
@media only screen and (min-width : 768px) {
    .step{
        border:1px solid;
        border-radius:4px;
        padding:5px;
        margin:0px 1px;
        width:11.5%;
        float: left;
    }
}
.activestep{
    border-color: #0d47a1;
}
.visitedstep{
    border-color: #007E33;
}
.disabledstep{
    opacity: 0.4;
}

/* Liste des dossiers dans le module impression */
#print_lstdossier li {
    padding:5px;
    cursor: pointer;
    list-style-type: none;
}
#print_apercureport{
    padding:20px;
    width:100%;
    height:500px;
    border:solid 1px #eee;
    -moz-box-shadow: 2px 2px 12px 0px #656565;
    -webkit-box-shadow: 2px 2px 12px 0px #656565;
    -o-box-shadow: 2px 2px 12px 0px #656565;
    box-shadow: 2px 2px 12px 0px #656565;    
}
.active_report{
    background-color: rgba(250,162,27,0.5);
}

/* pager */
.boxpager{
    display: inline-block;
    width:50px;
    border:solid 1px #636466;
    padding:2px;
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3) inset;
    margin-bottom: 10px;
}
.btnpager{
    display: inline-block;
    border-radius:2px;
    cursor: pointer;
    width:30px;
    border:solid 1px #636466;
    padding:2px;
    text-align: center;
    margin-bottom: 10px;
}

[draggable] {
    cursor: move;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

 .dropfieldrequete{
    border-radius: 4px;
    background-color: #eee;
    border: 2px solid #666666;
    min-height: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.chpinrequete{
    border-radius: 4px;
    background-color: rgba(250,162,27,0.5);
    border: 2px solid #FAA21B;
    padding: 5px;
    margin-bottom: 2px;
}

[data-toggle="toggle"] {
    display: none;
}

.dialogSuividemande > .modal-dialog {
    width: 50% !important;
}

/* PCT */
.columns {
    float: left;
    width: 25%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}
.themepct{
    display: none;
}


@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
    .intitule{
        display: none;
    }
    .themepct{
        display: block;
    }
}

/* Historique Médias */
.media{
    border:1px solid #c8c8c8;
    border-radius: 4px;
    padding:10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
}